{% extends "layout.html" %}

{% block body %}
<div class ="jumbotron text-center">
  <h1>About</h1>
  <p class = "lead"> North Bergen students Ammar Eltigani
  and Michael Franco have invested in a large amount of time,
  trying to learn languages and functions in a time constraint.
  The "work in progress" from this webpage will be part of the
  "Create" task for the AP Computer Science Principles final exam.
  Hope that whoever is reviewing this could appreciate the work that
  is done and as always, we are ambitious to add and learn more.
  Thank you for your time. </p>
</div>
{% endblock body %}
